.ytbc {
  float: right;
  color: white;
}
.ytbc > div {
  display: inline-block;
  margin: 0 4px;
}
.ytbc > div > span {
  margin: 0 2px;
}
.ytbc .btn {
  cursor: pointer;
}
.ytbc-p {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-color: #2237;
}
.ytbc-p > input {
  pointer-events: auto;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  color: #350505;
  background-color: #d019108c;
  font-size: 20px;
  padding: 10px;
  border: none;
  text-align: center;
}
.ytbc-p > input:focus {
  outline: none;
}
.ytsb-popup {
  position: absolute;
  color: #cecece;
  background-color: #101010;
  border: 1px solid #2b2b2b;
  border-radius: 4px;
  display: none;
  font-size: 12px;
  padding: 8px;
  text-align: center;
  z-index: 1000;
}
.ytsb-bar {
  margin-left: 11px;
  margin-right: 11px;
}
.ytsb-bar {
  position: relative;
}
.ytsb-bar > div > div {
  position: absolute;
  min-width: 6px;
  cursor: pointer;
}
.ytsb-bar > div > div:not(.ytsb-popup):hover {
  padding: 0 2px 2px 0;
  margin: -1px 0 0 -1px;
}
